[Unit]
Description=OpenWRT KVM Router
After=networking.service

[Service]
Type=simple
User=qemu
WorkingDirectory=/stuff/vm
ExecStart=/usr/bin/qemu-system-aarch64 -enable-kvm -m 156M -smp 2 \
-cpu host -M virt -nographic \
-kernel generic-kernel.bin \
-append "root=fe00" \
-blockdev driver=host_device,node-name=hosthdd0,cache.direct=on,filename="/dev/disk/by-id/<partition_id>" \
-blockdev driver=raw,node-name=hd0,file=hosthdd0 \
-device virtio-blk-pci,drive=hd0 \
-netdev tap,id=eth0,ifname=tap0,vhost=on,script=no,downscript=no \
-device virtio-net-pci,netdev=eth0,mac=ba:ad:1d:00:10:20 \
-serial unix:console.sock,server,nowait \
-monitor unix:monitor.sock,server,nowait

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Alias=OpenWRT-KVM.service
